html {
  font-size: 62.5%; }
  html *, html *:before, html *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }

body {
  background-color: #f9f8f6;
  font-size: 12px;
  font-size: 1.2rem; }

#header .container .sp_logo {
  margin: 0 auto;
  padding-top: 20px;
  display: block; }
#header .container .sp_navi_li {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0;
  margin-bottom: -20px; }
  #header .container .sp_navi_li li {
    list-style: none;
    margin-right: 10px; }
  #header .container .sp_navi_li .sp_menu_li {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    opacity: 1;
    display: none; }
    #header .container .sp_navi_li .sp_menu_li li {
      list-style: none;
      margin-bottom: 2px;
      border-bottom: 1px solid #eee; }
      #header .container .sp_navi_li .sp_menu_li li a {
        color: #887f69;
        text-decoration: none;
        font-size: 14px;
        font-size: 1.4rem;
        display: block;
        padding: 10px 8px;
        font-weight: bold;
        text-align: center; }
        #header .container .sp_navi_li .sp_menu_li li a:hover {
          color: blue; }
@media (min-width: 551px) {
  #header .container .sp_logo {
    display: none; }
  #header .container .sp_navi_li {
    display: none; }
  #header .container .sp_menu_li li {
    display: none; }
  #header .container .pc_logo {
    padding-top: 30px;
    margin: 0;
    margin-bottom: 10px; }
  #header .container .pc_navi_li {
    padding-right: 0;
    margin-right: -7px; }
    #header .container .pc_navi_li ul {
      list-style: none;
      display: flex;
      align-items: baseline;
      margin-top: 47px;
      padding-left: 70px; }
      #header .container .pc_navi_li ul li {
        margin: 0 7px; }
      #header .container .pc_navi_li ul .face {
        margin-right: 0; } }
@media (max-width: 550px) {
  #header .container .pc_logo {
    display: none; }
  #header .container .pc_navi_li {
    display: none; } }

#banner {
  margin-top: 20px; }
  #banner .owl-theme .owl-dots {
    text-align: left; }
    #banner .owl-theme .owl-dots .owl-dot.active span {
      background-color: #9d1a2d; }
    #banner .owl-theme .owl-dots .owl-dot span {
      border-radius: 0;
      height: 3px;
      width: 30px;
      margin-left: 0;
      margin-right: 10px; }

#new_item .sp_title {
  display: block;
  margin: 0 auto; }
#new_item ul {
  list-style: none;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #new_item ul .item-box {
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    width: calc( ( 100% - 2px ) / 2 );
    margin-bottom: 2px; }
    #new_item ul .item-box .item-name {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 13px;
      font-size: 1.3rem;
      margin-left: 5px; }
    #new_item ul .item-box .item-price {
      margin-bottom: 10px;
      font-size: 13px;
      font-size: 1.3rem;
      margin-left: 5px;
      letter-spacing: 1px; }
@media (min-width: 551px) {
  #new_item .sp_title {
    display: none; }
  #new_item .item-boxes ul .item-box {
    width: calc( ( 100% - 4px ) / 3 );
    padding-bottom: 5px; }
    #new_item .item-boxes ul .item-box img {
      display: block;
      margin: 0 auto; }
    #new_item .item-boxes ul .item-box .item-name {
      margin-top: 5px; } }
@media (max-width: 550px) {
  #new_item .pc_title {
    display: none; } }

#popular_item .sp_title {
  display: block;
  margin: 0 auto; }
#popular_item ul {
  list-style: none;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #popular_item ul .item-box {
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    width: calc( ( 100% - 2px ) / 2 );
    margin-bottom: 2px; }
    #popular_item ul .item-box .item-name {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 13px;
      font-size: 1.3rem;
      margin-left: 5px; }
    #popular_item ul .item-box .item-price {
      margin-bottom: 10px;
      font-size: 13px;
      font-size: 1.3rem;
      margin-left: 5px;
      letter-spacing: 1px; }
@media (min-width: 551px) {
  #popular_item .sp_title {
    display: none; }
  #popular_item .item-boxes ul .item-box {
    width: calc( ( 100% - 4px ) / 3 );
    padding-bottom: 5px; }
    #popular_item .item-boxes ul .item-box img {
      display: block;
      margin: 0 auto; }
    #popular_item .item-boxes ul .item-box .item-name {
      margin-top: 5px; } }
@media (max-width: 550px) {
  #popular_item .pc_title {
    display: none; } }

#shopping .sp_guide {
  display: block;
  margin: 0 auto; }
#shopping .guide-boxes {
  margin-top: 20px; }
  #shopping .guide-boxes ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #shopping .guide-boxes ul .guide-box {
      list-style: none;
      background-color: #ffffff;
      padding: 25px 25px 30px 25px;
      width: 100%; }
      #shopping .guide-boxes ul .guide-box .title {
        color: #887f69;
        margin-bottom: 0px;
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px; }
      #shopping .guide-boxes ul .guide-box .otodoke {
        color: #887f69;
        margin-top: 7px;
        font-size: 13px;
        font-size: 1.3rem;
        margin-bottom: 5px; }
      #shopping .guide-boxes ul .guide-box .paket {
        color: #887f69;
        margin-top: 7px;
        margin-bottom: 5px;
        font-size: 13px;
        font-size: 1.3rem; }
      #shopping .guide-boxes ul .guide-box .card {
        color: #887f69;
        font-size: 13px;
        font-size: 1.3rem;
        margin-top: -10px;
        margin-bottom: 10px; }
      #shopping .guide-boxes ul .guide-box .daikin {
        color: #887f69;
        font-size: 13px;
        font-size: 1.3rem;
        margin-top: 5px;
        margin-bottom: 5px; }
      #shopping .guide-boxes ul .guide-box .ginkou {
        color: #887f69;
        font-size: 13px;
        font-size: 1.3rem;
        margin-top: 7px;
        margin-bottom: 5px; }
      #shopping .guide-boxes ul .guide-box .des {
        margin-left: 2px;
        font-size: 13px;
        font-size: 1.3rem; }
      #shopping .guide-boxes ul .guide-box .des1 {
        margin-left: 4px;
        font-size: 13px;
        font-size: 1.3rem;
        letter-spacing: -3px; }
        #shopping .guide-boxes ul .guide-box .des1 .des2 {
          font-size: 13px;
          font-size: 1.3rem;
          margin-left: 5px; }
      #shopping .guide-boxes ul .guide-box span {
        font-size: 21px;
        font-size: 2.1rem;
        margin-bottom: 5px; }
@media (max-width: 550px) {
  #shopping .pc_guide {
    display: none; } }
@media (min-width: 551px) {
  #shopping .sp_guide {
    display: none; }
  #shopping .guide-boxes ul .guide-box {
    width: calc( (100% - 6px) / 2);
    padding-bottom: 25px; }
    #shopping .guide-boxes ul .guide-box img {
      margin-top: 5px; }
    #shopping .guide-boxes ul .guide-box .card {
      margin-top: -10px;
      margin-bottom: 5px; }
    #shopping .guide-boxes ul .guide-box .daikin {
      margin-top: -3px; } }

#sidebar {
  margin-top: 20px; }
  #sidebar .contents .search {
    text-align: center;
    background-color: #ffffff;
    margin-top: -20px; }
    #sidebar .contents .search .search-box {
      position: relative;
      margin-bottom: 10px; }
      #sidebar .contents .search .search-box input {
        height: 30px;
        width: 100%;
        margin: 0;
        background-color: #eeeeee;
        border-radius: 0;
        border: none; }
        #sidebar .contents .search .search-box input::placeholder {
          color: #b5b5b5; }
      #sidebar .contents .search .search-box img {
        position: absolute;
        right: 10px;
        top: 6px; }
  #sidebar .contents .link {
    height: 40px;
    background-color: #887f69;
    margin-top: 15px;
    background-image: url("../images/top/next_icon.png");
    background-position: 96% center;
    background-repeat: no-repeat; }
    #sidebar .contents .link img {
      margin: 15px; }
  #sidebar .contents .categories {
    margin-top: 10px; }
    #sidebar .contents .categories .category-img {
      background-color: #887f69;
      height: 40px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    #sidebar .contents .categories ul .category {
      background-color: #ffffff;
      height: 40px;
      list-style: none;
      margin-bottom: 2px;
      padding-top: 12px;
      padding-bottom: 10px;
      padding-left: 17px;
      background-image: url(../images/top/next_icon_gray.png);
      background-repeat: no-repeat;
      background-position: 96% center; }
  #sidebar .contents .about {
    margin-top: -15px; }
    #sidebar .contents .about .title-img {
      height: 40px;
      background-color: #887f69; }
      #sidebar .contents .about .title-img img {
        margin: 15px; }
    #sidebar .contents .about .about-boxes {
      background-color: #ffffff;
      display: flex;
      justify-content: space-around;
      padding: 10px 10px 7px 10px; }
      #sidebar .contents .about .about-boxes .about-box {
        width: calc(100% / 2); }
        #sidebar .contents .about .about-boxes .about-box .more {
          margin-left: 10px;
          margin-top: 7px; }
        #sidebar .contents .about .about-boxes .about-box .text {
          margin-left: 10px; }
  #sidebar .contents .shop {
    margin-top: 10px; }
    #sidebar .contents .shop .title-img {
      height: 40px;
      background-color: #887f69; }
      #sidebar .contents .shop .title-img img {
        margin: 15px; }
    #sidebar .contents .shop .shop-boxes {
      background-color: #ffffff;
      display: flex;
      justify-content: space-around;
      padding: 10px 10px 7px 10px; }
      #sidebar .contents .shop .shop-boxes .shop-box {
        width: calc(100% / 2); }
        #sidebar .contents .shop .shop-boxes .shop-box .more {
          margin-left: 10px;
          margin-top: 7px; }
        #sidebar .contents .shop .shop-boxes .shop-box .text {
          margin-left: 10px; }
  @media (max-width: 550px) {
    #sidebar .contents .title {
      display: none; } }
  @media (min-width: 551px) {
    #sidebar .contents .search {
      padding: 10px 20px; }
      #sidebar .contents .search .title {
        color: #887f69;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 5px; }
      #sidebar .contents .search input {
        width: 90%; }
    #sidebar .contents .about .about-boxes {
      display: block; }
      #sidebar .contents .about .about-boxes .about-box {
        width: 100%;
        padding-bottom: 15px; }
        #sidebar .contents .about .about-boxes .about-box .more {
          margin: 0 auto;
          display: block;
          margin-top: 15px; }
        #sidebar .contents .about .about-boxes .about-box .text {
          margin: 0; }
    #sidebar .contents .shop .shop-boxes {
      display: block; }
      #sidebar .contents .shop .shop-boxes .shop-box {
        width: 100%;
        padding-bottom: 15px; }
        #sidebar .contents .shop .shop-boxes .shop-box .more {
          margin: 0 auto;
          display: block;
          margin-top: 15px; }
        #sidebar .contents .shop .shop-boxes .shop-box .text {
          margin: 0; } }

#footer .foo-img {
  margin: 20px 0; }
  #footer .foo-img img {
    margin: 0 auto;
    display: block; }
#footer .foo-list {
  border-top: 1px solid #887f69;
  margin-bottom: 100px; }
  #footer .foo-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    padding: 13px; }
    #footer .foo-list ul li {
      list-style: none;
      margin-left: 2px;
      margin-bottom: 2px;
      font-size: 12px;
      font-size: 1.2rem; }
  #footer .foo-list .copy {
    margin-top: -10px;
    text-align: center;
    color: #b8b4ac;
    letter-spacing: .3px; }
@media (min-width: 551px) {
  #footer .foo-img img {
    margin-left: 92%; }
  #footer .foo-list ul li {
    margin: 10px; } }

#contents {
  margin-top: 20px; }

.bred_crumb {
  background-color: #e8e4da;
  height: 40px; }
  .bred_crumb ul {
    list-style: none;
    display: flex;
    padding: 12px 0 0 0; }
    .bred_crumb ul li {
      margin: 0; }
      .bred_crumb ul li::after {
        content: "/";
        color: #abb4bf; }
      .bred_crumb ul li:last-child::after {
        content: ""; }
      .bred_crumb ul li a {
        text-decoration: none;
        color: #887f69;
        margin: 10px; }
      .bred_crumb ul li .home_icon {
        margin-right: 10px; }

#cate_name {
  margin-top: 10px; }
  @media (max-width: 550px) {
    #cate_name .pc_cate {
      display: none; } }
  @media (min-width: 551px) {
    #cate_name .pc_cate {
      width: 100%; }
    #cate_name .sp_cate {
      display: none; } }

#category_item {
  margin-top: -10px; }
  #category_item ul {
    list-style: none;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #category_item ul .item-box {
      background-color: #ffffff;
      padding: 10px 10px 0 10px;
      width: calc( ( 100% - 2px ) / 2 );
      margin-bottom: 2px; }
      #category_item ul .item-box .item-name {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 13px;
        font-size: 1.3rem;
        margin-left: 5px; }
      #category_item ul .item-box .item-price {
        margin-bottom: 10px;
        font-size: 13px;
        font-size: 1.3rem;
        margin-left: 5px;
        letter-spacing: 1px; }
  @media (min-width: 551px) {
    #category_item .item-boxes ul .item-box {
      width: calc( ( 100% - 4px ) / 3 );
      padding-bottom: 5px; }
      #category_item .item-boxes ul .item-box img {
        display: block;
        margin: 0 auto; }
      #category_item .item-boxes ul .item-box .item-name {
        margin-top: 5px; } }
  #category_item .btn {
    display: flex;
    justify-content: space-between;
    height: 40px; }
    #category_item .btn .back {
      background-color: #887f69;
      width: calc((100% - 70px) / 2); }
      @media (min-width: 551px) {
        #category_item .btn .back {
          width: 18%; } }
      #category_item .btn .back a {
        text-decoration: none;
        color: #f9f8f6;
        display: block;
        text-align: center;
        margin: 10px 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold; }
    #category_item .btn .next {
      background-color: #887f69;
      width: calc((100% - 70px) / 2); }
      @media (min-width: 551px) {
        #category_item .btn .next {
          width: 18%; } }
      #category_item .btn .next a {
        text-decoration: none;
        color: #f9f8f6;
        display: block;
        text-align: center;
        margin: 10px 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold; }

#recently_item .recent-title {
  margin: 25px; }
  #recently_item .recent-title .sp_recent {
    margin: 0 auto;
    display: block; }
#recently_item .recent-boxes ul {
  list-style: none;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #recently_item .recent-boxes ul .recent-box {
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    width: calc( ( 100% - 2px ) / 2 );
    margin-bottom: 2px; }
    #recently_item .recent-boxes ul .recent-box .item-name {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 13px;
      font-size: 1.3rem;
      margin-left: 5px; }
    #recently_item .recent-boxes ul .recent-box .item-price {
      margin-bottom: 10px;
      font-size: 13px;
      font-size: 1.3rem;
      margin-left: 5px;
      letter-spacing: 1px; }
@media (min-width: 551px) {
  #recently_item .recent-title {
    margin: 30px auto; }
    #recently_item .recent-title .pc_recent {
      width: 100%; }
    #recently_item .recent-title .sp_recent {
      display: none; }
  #recently_item .recent-boxes ul .recent-box {
    width: calc( (100% - 4px) / 3);
    padding-bottom: 5px; }
    #recently_item .recent-boxes ul .recent-box img {
      display: block;
      margin: 0 auto; }
    #recently_item .recent-boxes ul .recent-box .item-name {
      margin-top: 5px; } }
@media (max-width: 550px) {
  #recently_item .pc_recent {
    display: none; } }

#products {
  margin-top: 20px; }
  #products .nine {
    background-color: #ffffff; }

.item-title {
  border-bottom: 1px solid #e3e8cf;
  padding: 10px 0;
  margin-top: 10px; }
  .item-title .name {
    font-weight: bold; }
  .item-title span {
    color: #a6a6a6;
    font-size: 10px;
    font-size: 1rem; }

.items {
  margin-top: 10px;
  margin-bottom: 10px; }
  .items .main-image {
    flex: 5 5 40px; }
    .items .main-image img {
      display: block; }
  .items .sub-image {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
    .items .sub-image img {
      display: block;
      width: calc( (100% - 20px) / 5 ); }
      .items .sub-image img:nth-child(n+6) {
        margin-top: 5px; }

@media (min-width: 551px) {
  .item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 30px 0;
    margin-left: 50px;
    margin-right: 50px; }
    .item-title span {
      padding: 4px 0; }

  .items {
    margin: 20px 50px 0 50px;
    display: flex; }
    .items .main-image {
      flex: 5 5 40px; }
      .items .main-image img {
        display: block;
        width: 100%; }
    .items .sub-image {
      flex: 2 2 10px;
      margin-top: 0;
      margin-left: 10px; }
      .items .sub-image img {
        display: block;
        width: calc(50% - 5px ); }
        .items .sub-image img:nth-child(n+3) {
          margin-top: 10px; } }
#color {
  border-top: 1px solid #e3e8cf; }
  #color img {
    margin: 10px 0; }
  #color table {
    margin-bottom: 15px;
    border: 1px solid #e8e4da;
    width: 100%; }
    #color table .text {
      text-align: center;
      color: #887f69; }
    #color table thead {
      background-color: #f9f9f5; }
      #color table thead td {
        border: 1px solid #e8e4da;
        padding: 10px 0; }
        #color table thead td:first-child {
          width: 27%; }
    #color table tbody {
      background-color: #f9f9f5; }
      #color table tbody .check {
        background-color: #ffffff; }
      #color table tbody td {
        border: 1px solid #e8e4da;
        padding: 10px 0; }
        #color table tbody td input {
          margin: 0 auto;
          display: block;
          transform: scale(1.5);
          color: #ffffff; }
  #color .price-boxes .price-box {
    border-top: 1px solid #e3e8cf;
    border-bottom: 1px solid #e3e8cf; }
    #color .price-boxes .price-box .price {
      display: flex;
      align-items: center; }
      #color .price-boxes .price-box .price img {
        margin: 25px 0 15px 0; }
      #color .price-boxes .price-box .price .p-box {
        display: flex;
        margin: 10px auto;
        align-items: center;
        color: #e80f66; }
        #color .price-boxes .price-box .price .p-box .text {
          font-size: 24px;
          font-size: 2.4rem; }
        #color .price-boxes .price-box .price .p-box .en {
          font-size: 14px;
          font-size: 1.4rem;
          margin-top: 8px; }
        #color .price-boxes .price-box .price .p-box .tax {
          font-size: 14px;
          font-size: 1.4rem;
          margin-top: 8px; }
    #color .price-boxes .price-box .quantity {
      border-top: 1px solid #e3e8cf;
      display: flex;
      align-items: center; }
      #color .price-boxes .price-box .quantity input {
        padding: 0;
        border-radius: 0;
        border: 1px solid #e8e4da;
        margin: 10px 0 10px 40px; }
  #color .price-boxes .image-box img {
    display: block;
    margin: 10px auto; }
  @media (min-width: 551px) {
    #color {
      margin-top: 20px;
      margin-left: 50px;
      margin-right: 50px; }
      #color .price-boxes {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e3e8cf; }
        #color .price-boxes .price-box {
          margin-right: 20px;
          flex: 1;
          border-bottom: 0; }
        #color .price-boxes .image-box img {
          margin: 0; } }

#product_description {
  margin-top: 20px; }
  #product_description .title {
    color: #887f69;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem; }
  #product_description .main {
    border-top: 1px solid #887f69;
    margin-top: 10px; }
    #product_description .main .head {
      color: #887f69;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 14px;
      font-size: 1.4rem; }
      #product_description .main .head span {
        color: #887f69;
        font-size: 24px;
        font-size: 2.4rem; }
  #product_description table {
    border: 1px solid #e8e4da;
    width: 100%;
    margin-top: 15px;
    color: #887f69; }
    #product_description table th {
      padding: 12px 20px;
      background-color: #f9f9f5; }
      #product_description table th .head {
        width: 40px;
        margin: 0 auto;
        display: block;
        font-weight: normal; }
    #product_description table td {
      border: 1px solid #e8e4da;
      padding: 12px 10px; }
  @media (min-width: 551px) {
    #product_description {
      margin-left: 50px;
      margin-right: 50px; }
      #product_description .main .head {
        margin-top: 10px; }
      #product_description table {
        margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
