@charset "utf-8";

$beige: #f9f8f6;
$brown1: #887f69;
$brown2: #b8b4ac;
$red: #9d1a2d;

@mixin fontsize($size: 10, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}


html {
    font-size: 62.5%;
    
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
    }
}

body {
    background-color: $beige;
    @include fontsize(12);
}


// ヘッダーエリア

#header {
  
    .container {
      

    
    .sp_logo {
      margin: 0 auto;
      padding-top: 20px;
      display: block;
    }
    .sp_navi_li {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0;
      margin-bottom: -20px;
      
      li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        
      }
      
    .sp_menu_li{
      margin: 0;
      padding: 0;
      display: none;
      
        li {
          list-style: none;
          
          a {
            color: $brown1;
            text-decoration: none;
            @include fontsize(14);
            display: block;
            padding: 10px 8px;
            border-bottom: 1px solid #eee;
            font-weight: bold;
            text-align: center;
          }
        }
        
    }
      
  }
    
    
@media (min-width: 551px) {
    .sp_logo {
      display: none;
    }
    
    .sp_navi_li {
      display: none;
    }
  
  
    .sp_menu_li{
        li {
          display: none;
        }
      }
      
    .pc_logo {
      
      
      padding-top: 30px;
      margin: 0;
      margin-bottom: 10px;
      
    }
      
    .pc_navi_li {
      padding-right: 0;
      margin-right: -70px;
      
      ul {
        list-style: none;
        display: flex;
        align-items: baseline;
        margin-top: 47px;
        padding-left: 70px;
        
        
        li {
          
          margin: 0 7px;
        
        }
        
        .face {
            margin-right: 0;
          }
      }
    }
  }

  @media (max-width: 550px) {
      
      .pc_logo {
          display: none;
        }
        
      .pc_navi_li {
        display: none;
        }
      }
    
  }
    
}

// アイキャッチエリア
  #banner {
   margin-top: 20px;
  .owl-theme {
    
    .owl-dots {
      
      text-align: left;
      
      .owl-dot {
        
        &.active {
          span {
            background-color: $red;
          }
        }
        
        span {
          
          border-radius: 0;
          height: 3px;
          width: 30px;
          margin-left: 0;
          margin-right: 10px;
          
          }
        }
      }
    }
 
  }
  
// Newアイテムエリア
  #new_item {
    
      .sp_title{
        
        display: block;
        margin: 0 auto;
      }
      
        ul {
          list-style: none;
          margin-top: 20px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
         
        .item-box {
          background-color: #ffffff;
          padding: 10px 10px 0 10px;
          width: calc( ( 100% - 2px ) / 2 );
          margin-bottom: 2px;
          
          
          .item-name{
            
            margin-top: 0;
            margin-bottom: 10px;
            @include fontsize(12);
          }
          
          .item-price {
            
            margin-bottom: 10px;
            @include fontsize(12);
          }
        }
      }
    
    
    @media (min-width: 551px) {
      
        .sp_title {
          display: none;
        }
      
      
      .item-boxes {
        ul {
          .item-box {
            width: calc( ( 100% - 4px ) / 3 );
            padding-bottom: 5px;
            
            img {
              display: block;
              margin: 0 auto;
            }
            
            .item-name {
              margin-top: 5px;
            }
          }
        }
      }
      
    }
    
    @media (max-width: 550px) {
      
      .pc_title {
         display: none;
       }
    }
  }

// POPULARアイテムエリア
  #popular_item {
    
      .sp_title{
        
        display: block;
        margin: 0 auto;
      }
      
        ul {
          list-style: none;
          margin-top: 20px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
         
        .item-box {
          background-color: #ffffff;
          padding: 10px 10px 0 10px;
          width: calc( ( 100% - 2px ) / 2 );
          margin-bottom: 2px;
          
          
          .item-name{
            
            margin-top: 0;
            margin-bottom: 10px;
            @include fontsize(12);
          }
          
          .item-price {
            
            margin-bottom: 10px;
            @include fontsize(12);
          }
        }
      }
    
    
    @media (min-width: 551px) {
      
        .sp_title {
          display: none;
        }
      
      
      .item-boxes {
        ul {
          .item-box {
            width: calc( ( 100% - 4px ) / 3 );
            padding-bottom: 5px;
            
             img {
              display: block;
              margin: 0 auto;
            }
            .item-name {
              margin-top: 5px;
            }
          }
        }
      }
    }
    
    @media (max-width: 550px) {
        
      .pc_title {
         display: none;
       }
    }
  }
  
// Shopping Guideエリア
  #shopping {
    
    .sp_guide {
      display: block;
      margin: 0 auto;
    }
    
    .guide-boxes {
      margin-top: 20px;
      ul {
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .guide-box {
          list-style: none;
          background-color: #ffffff;
          padding: 25px 25px 30px 25px;
          width: 100%;
          
          .title {
            color: $brown1;
            margin-bottom: 0px;
            @include fontsize(15);
            font-weight: bold;
            margin-bottom: 15px;
          }
          .otodoke {
            color: $brown1;
            margin-top: 7px;
            @include fontsize(13);
            margin-bottom: 5px;
          }
          .paket {
            color: $brown1;
            margin-top: 7px;
            margin-bottom: 5px;
            @include fontsize(13);
          }
          .card {
            color: $brown1;
            @include fontsize(13);
            margin-top: -10px;
            margin-bottom: 10px;
          }
          .daikin {
            color: $brown1;
            @include fontsize(13);
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .ginkou {
            color: $brown1;
            @include fontsize(13);
            margin-top: 7px;
            margin-bottom: 5px;
          }
          .des {
            margin-left: 2px;
            @include fontsize(13);
          }
          .des1 {
            margin-left: 4px;
            @include fontsize(13);
            letter-spacing: -3px;
            .des2 {
              @include fontsize(13);
              margin-left: 5px;
            }
          }
          span {
            @include fontsize(21);
            margin-bottom: 5px;
          }
        }
      }
      
      
    }
    
    
    @media (max-width: 550px) {
      .pc_guide {
        display: none;
      }
    }
    
    @media (min-width: 551px) {
      .sp_guide {
        display: none;
      }
      .guide-boxes {
        
        ul {
          .guide-box {
            width: calc( (100% - 6px) / 2);
            padding-bottom: 25px;
            
            img{
              margin-top: 5px;
            }
            .card {
              margin-top: -10px;
              margin-bottom: 5px;
            }
            .daikin {
              margin-top: -3px;
            }
            .ginkou {
             
            }
          }
        }
      }
    }
  }
  
// サイドバーエリア
  #sidebar {
    margin-top: 20px;
    .contents {
      
      .search {
        text-align: center;
        background-color: #ffffff;
        
        margin-top: -20px;
        
        input {
          height: 30px;
          width: 85%;
          margin-top: 20px;
          background-image: url("../images/top/search_icon.png");
          background-repeat: no-repeat;
          background-position: 98% center;
          background-color: #eeeeee;
          border-radius: 0;
          border: none;
          
          &::placeholder {
            color: #b5b5b5;
          }
        }
      }
  // ページリンク
      .link {
        height: 40px;
        background-color: $brown1;
        margin-top: 15px;
        background-image: url("../images/top/next_icon.png");
        background-position: 96% center;
        background-repeat: no-repeat;
        
        img{
          margin: 15px;
        }
      }
  // カテゴリー
      .categories {
        margin-top: 10px;
        .category-img {
          background-color: $brown1;
          height: 40px;
          background-image: url("../images/top/down_icon.png");
          background-repeat: no-repeat;
          background-position: 96% center;
          img{
            margin: 15px;
          }
        }
        ul {
          
          .category {
            background-color: #ffffff;
            height: 40px;
            list-style: none;
            margin-bottom: 2px;
            padding-top: 12px;
            padding-bottom: 10px;
            padding-left: 17px;
            background-image: url(../images/top/next_icon_gray.png);
            background-repeat: no-repeat;
            background-position: 96% center;
            
          }
        }
      }
  // ABOUT
      .about {
        margin-top: -15px;
        
        .title-img {
          height: 40px;
          background-color: $brown1;
          img {
            margin: 15px;
          }
        }
        .about-boxes {
          background-color: #ffffff;
          display: flex;
          justify-content: space-around;
          padding: 10px 10px 7px 10px;
          
          .about-box {
           width: calc(100% / 2);
           
           .more {
             margin-left: 10px;
             margin-top: 7px;
           }
           .text {
             margin-left: 10px;
           }
          }
        }
      }
  // SHOP
      .shop {
        margin-top: 10px;
        
        .title-img {
          height: 40px;
          background-color: $brown1;
          img {
            margin: 15px;
          }
        }
        .shop-boxes {
          background-color: #ffffff;
          display: flex;
          justify-content: space-around;
          padding: 10px 10px 7px 10px;
          
          .shop-box {
           width: calc(100% / 2);
           
           .more {
             margin-left: 10px;
             margin-top: 7px;
           }
           .text {
             margin-left: 10px;
           }
          }
        }
      }
      @media (max-width: 550px) {
        .title {
          display: none;
        }
      }
      
      
      @media (min-width: 551px) {

        .search {
          padding: 10px 10px 5px 10px;
          
          .title {
          color: $brown1;
          @include fontsize(13);
          font-weight: bold;
          text-align: left;
          margin-left: 10px;
          margin-bottom: -15px;
          }
          input {
            width: 90%;
          }
        }
        .about {
          .about-boxes {
            display: block;
            
            .about-box {
              width: 100%;
              padding-bottom: 15px;
              
              .more {
                margin: 0 auto;
                display: block;
                margin-top: 15px;
              }
              .text {
                margin: 0;
              }
            }
          }
        }
        .shop {
          .shop-boxes {
            display: block;
            
            .shop-box {
              width: 100%;
              padding-bottom: 15px;
              
              .more {
                margin: 0 auto;
                display: block;
                margin-top: 15px;
              }
              .text {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  // footerエリア
  #footer {
    
    .foo-img {
      margin: 20px 0;
      
      img {
        margin: 0 auto;
        display: block;
        
      }
    }
    .foo-list {
      border-top: 1px solid $brown1;
      margin-bottom: 100px;
      
      ul {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        
        margin-bottom: 0;
        padding: 13px;
        li {
          list-style: none;
          margin-left: 2px;
          margin-bottom: 2px;
          
          @include fontsize(12);
          
        }
        
      }
      .copy {
        margin-top: -10px;
        text-align: center;
        color: $brown2;
        letter-spacing: .3px;
      }
    }
    
    @media (min-width: 551px) {
         .foo-img {
           img {
              margin-left: 92%;
           }
         }
         .foo-list {
           ul {
             li {
               margin: 10px;
             }
           }
         }
      }
  }