@charset "utf-8";

$beige: #f9f8f6;
$brown1: #887f69;
$brown2: #b8b4ac;
$brown3: #e8e4da;
$brown4: #f9f9f5;
$red: #9d1a2d;
$green: #e3e8cf;

@mixin fontsize($size: 10, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}


html {
    font-size: 62.5%;
    
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
    }
}

body {
    background-color: $beige;
    @include fontsize(12);
}


// ヘッダーエリア

#header {
  
    .container {
      

    
    .sp_logo {
      margin: 0 auto;
      padding-top: 20px;
      display: block;
    }
    .sp_navi_li {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 0;
      margin-bottom: -20px;
      
      li {
        list-style: none;
        margin-right: 10px;
        
      }
      
    .sp_menu_li{
      margin: 0;
      padding: 0;
      position: absolute;
      z-index:10;
      opacity: 1;
      display: none;
      
        li {
         
          list-style: none;
          margin-bottom: 2px;
          border-bottom: 1px solid #eee;
          a {
            color: $brown1;
            text-decoration: none;
            @include fontsize(14);
            display: block;
            padding: 10px 8px;
            font-weight: bold;
            text-align: center;
            &:hover {
              color: blue;
            }
          }
        }
        
    }
      
  }
    
    
@media (min-width: 551px) {
    .sp_logo {
      display: none;
    }
    
    .sp_navi_li {
      display: none;
    }
  
  
    .sp_menu_li{
        li {
          display: none;
        }
      }
      
    .pc_logo {
      
      
      padding-top: 30px;
      margin: 0;
      margin-bottom: 10px;
      
    }
      
    .pc_navi_li {
      padding-right: 0;
      margin-right: -7px;
      
      ul {
        list-style: none;
        display: flex;
        align-items: baseline;
        margin-top: 47px;
        padding-left: 70px;
        
        
        
        li {
          
          margin: 0 7px;
        
        }
        
        .face {
            margin-right: 0;
          }
      }
    }
  }

  @media (max-width: 550px) {
      
      .pc_logo {
          display: none;
        }
        
      .pc_navi_li {
        display: none;
        }
      }
    
  }
    
}

// アイキャッチエリア
  #banner {
   margin-top: 20px;
  .owl-theme {
    
    .owl-dots {
      
      text-align: left;
      
      .owl-dot {
        
        &.active {
          span {
            background-color: $red;
          }
        }
        
        span {
          
          border-radius: 0;
          height: 3px;
          width: 30px;
          margin-left: 0;
          margin-right: 10px;
          
          }
        }
      }
    }
 
  }
  
// Newアイテムエリア
  #new_item {
    
      .sp_title{
        
        display: block;
        margin: 0 auto;
      }
      
        ul {
          list-style: none;
          margin-top: 20px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
         
        .item-box {
          background-color: #ffffff;
          padding: 10px 10px 0 10px;
          width: calc( ( 100% - 2px ) / 2 );
          margin-bottom: 2px;
          
          
          .item-name{
            
            margin-top: 0;
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
          }
          
          .item-price {
            
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
            letter-spacing: 1px;
          }
        }
      }
    
    
    @media (min-width: 551px) {
      
        .sp_title {
          display: none;
        }
      
      
      .item-boxes {
        ul {
          .item-box {
            width: calc( ( 100% - 4px ) / 3 );
            padding-bottom: 5px;
            
            img {
              display: block;
              margin: 0 auto;
            }
            
            .item-name {
              margin-top: 5px;
            }
          }
        }
      }
      
    }
    
    @media (max-width: 550px) {
      
      .pc_title {
         display: none;
       }
    }
  }

// POPULARアイテムエリア
  #popular_item {
    
      .sp_title{
        
        display: block;
        margin: 0 auto;
      }
      
        ul {
          list-style: none;
          margin-top: 20px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
         
        .item-box {
          background-color: #ffffff;
          padding: 10px 10px 0 10px;
          width: calc( ( 100% - 2px ) / 2 );
          margin-bottom: 2px;
          
          
          .item-name{
            
            margin-top: 0;
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
          }
          
          .item-price {
            
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
            letter-spacing: 1px;
          }
        }
      }
    
    
    @media (min-width: 551px) {
      
        .sp_title {
          display: none;
        }
      
      
      .item-boxes {
        ul {
          .item-box {
            width: calc( ( 100% - 4px ) / 3 );
            padding-bottom: 5px;
            
             img {
              display: block;
              margin: 0 auto;
            }
            .item-name {
              margin-top: 5px;
            }
          }
        }
      }
    }
    
    @media (max-width: 550px) {
        
      .pc_title {
         display: none;
       }
    }
  }
  
// Shopping Guideエリア
  #shopping {
    
    .sp_guide {
      display: block;
      margin: 0 auto;
    }
    
    .guide-boxes {
      margin-top: 20px;
      ul {
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .guide-box {
          list-style: none;
          background-color: #ffffff;
          padding: 25px 25px 30px 25px;
          width: 100%;
          
          .title {
            color: $brown1;
            margin-bottom: 0px;
            @include fontsize(15);
            font-weight: bold;
            margin-bottom: 15px;
          }
          .otodoke {
            color: $brown1;
            margin-top: 7px;
            @include fontsize(13);
            margin-bottom: 5px;
          }
          .paket {
            color: $brown1;
            margin-top: 7px;
            margin-bottom: 5px;
            @include fontsize(13);
          }
          .card {
            color: $brown1;
            @include fontsize(13);
            margin-top: -10px;
            margin-bottom: 10px;
          }
          .daikin {
            color: $brown1;
            @include fontsize(13);
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .ginkou {
            color: $brown1;
            @include fontsize(13);
            margin-top: 7px;
            margin-bottom: 5px;
          }
          .des {
            margin-left: 2px;
            @include fontsize(13);
          }
          .des1 {
            margin-left: 4px;
            @include fontsize(13);
            letter-spacing: -3px;
            .des2 {
              @include fontsize(13);
              margin-left: 5px;
            }
          }
          span {
            @include fontsize(21);
            margin-bottom: 5px;
          }
        }
      }
      
      
    }
    
    
    @media (max-width: 550px) {
      .pc_guide {
        display: none;
      }
    }
    
    @media (min-width: 551px) {
      .sp_guide {
        display: none;
      }
      .guide-boxes {
        
        ul {
          .guide-box {
            width: calc( (100% - 6px) / 2);
            padding-bottom: 25px;
            
            img{
              margin-top: 5px;
            }
            .card {
              margin-top: -10px;
              margin-bottom: 5px;
            }
            .daikin {
              margin-top: -3px;
            }
            .ginkou {
             
            }
          }
        }
      }
    }
  }
  
// サイドバーエリア
  #sidebar {
    margin-top: 20px;
    .contents {
      
      .search {
        text-align: center;
        background-color: #ffffff;
        
        
        margin-top: -20px;
        
        .search-box {
          position: relative;
          margin-bottom: 10px;
          padding: 15px 0;
        
          input {
            height: 30px;
            // width: 85%;
            width: 90%;
            margin: 0;
            //margin-top: 20px;
            // background-image: url("../images/top/search_icon.png");
            // background-repeat: no-repeat;
            // background-position: 98% center;
            background-color: #eeeeee;
            border-radius: 0;
            border: none;
            
            &::placeholder {
              color: #b5b5b5;
            }
          }
          
          img {
            position: absolute;
            right: 22px;
            top: 22px;
          }
        }
      }
  // ページリンク
      .link {
        position: relative;
        height: 40px;
        background-color: $brown1;
        margin-top: 15px;
        // background-image: url("../images/top/next_icon.png");
        // background-position: 96% center;
        // background-repeat: no-repeat;
        
        .page {
          display: block;
          padding: 15px;
        }
        .next{
          position: absolute;
          right: 20px;
          top: 13px;
        }
      }
  // カテゴリー
      .categories {
        margin-top: 10px;
        .category-img {
          background-color: $brown1;
          height: 40px;
          padding: 10px 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          // background-image: url("../images/top/down_icon.png");
          // background-repeat: no-repeat;
          // background-position: 96% center;
          img{
            // margin: 15px;
          }
        }
        ul {
          
          .category {
            position: relative;
            background-color: #ffffff;
            height: 40px;
            list-style: none;
            margin-bottom: 2px;
            padding-top: 12px;
            padding-bottom: 10px;
            padding-left: 17px;
            // background-image: url(../images/top/next_icon_gray.png);
            // background-repeat: no-repeat;
            // background-position: 96% center;
            img {
              position: absolute;
              right: 20px;
              
            }
          }
        }
      }
  // ABOUT
      .about {
        margin-top: -15px;
        
        .title-img {
          height: 40px;
          background-color: $brown1;
          img {
            margin: 15px;
          }
        }
        .about-boxes {
          background-color: #ffffff;
          display: flex;
          justify-content: space-around;
          padding: 10px 10px 7px 10px;
          
          .about-box {
           width: calc(100% / 2);
           
           .more {
             margin-left: 10px;
             margin-top: 7px;
           }
           .text {
             margin-left: 10px;
           }
          }
        }
      }
  // SHOP
      .shop {
        margin-top: 10px;
        
        .title-img {
          height: 40px;
          background-color: $brown1;
          img {
            margin: 15px;
          }
        }
        .shop-boxes {
          background-color: #ffffff;
          display: flex;
          justify-content: space-around;
          padding: 10px 10px 7px 10px;
          
          .shop-box {
           width: calc(100% / 2);
           
           .more {
             margin-left: 10px;
             margin-top: 7px;
           }
           .text {
             margin-left: 10px;
           }
          }
        }
      }
      @media (max-width: 550px) {
        .title {
          display: none;
        }
      }
      
      
      @media (min-width: 551px) {

        .search {
          padding: 10px 10px;
          
          .search-box {
            margin: 0;
            padding: 10px 0;
            width: 100%;
            
            img {
              top: 17px;
              right: 17px;
            }
            input {
              
            }
          }
          
          .title {
          color: $brown1;
          @include fontsize(13);
          font-weight: bold;
          text-align: left;
          padding-left: 10px;
          //margin-left: 10px;
          // margin-bottom: -15px;
          
          
          }
        }
        .about {
          .about-boxes {
            display: block;
            
            .about-box {
              width: 100%;
              padding-bottom: 15px;
              
              .more {
                margin: 0 auto;
                display: block;
                margin-top: 15px;
              }
              .text {
                margin: 0;
              }
            }
          }
        }
        .shop {
          .shop-boxes {
            display: block;
            
            .shop-box {
              width: 100%;
              padding-bottom: 15px;
              
              .more {
                margin: 0 auto;
                display: block;
                margin-top: 15px;
              }
              .text {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  // footerエリア
  #footer {
    
    .foo-img {
      margin: 20px 0;
      
      img {
        margin: 0 auto;
        display: block;
        
      }
    }
    .foo-list {
      border-top: 1px solid $brown1;
      margin-bottom: 100px;
      
      ul {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        
        margin-bottom: 0;
        padding: 13px;
        li {
          list-style: none;
          margin-left: 2px;
          margin-bottom: 2px;
          
          @include fontsize(12);
          
        }
        
      }
      .copy {
        margin-top: -10px;
        text-align: center;
        color: $brown2;
        letter-spacing: .3px;
      }
    }
    
    @media (min-width: 551px) {
         .foo-img {
           img {
              margin-left: 92%;
           }
         }
         .foo-list {
           ul {
             li {
               margin: 10px;
             }
           }
         }
      }
  }
  
  // list.html
  #contents {
    margin-top: 20px;
  }
  .bred_crumb {
    background-color: #e8e4da;
    height: 40px;
    
    
     ul {
       list-style: none;
       display: flex;
       padding: 12px 0 0 0;
       
       li {
        margin: 0;
         &::after {
           content: "/";
           color: #abb4bf;
         }
         &:last-child {
           &::after {
             content: "";
           }
         }
         
         a {
           text-decoration: none;
           color: $brown1;
           margin: 10px;
         }
         .home_icon {
           margin-right: 10px;
         }
       }
     }
  }
  //アイキャッチエリア
  #cate_name {
    margin-top: 10px;
    
    @media (max-width: 550px){
      .pc_cate {
        display: none;
      }
    }
    
    @media (min-width: 551px) {
      .pc_cate {
        width: 100%;
      }
      .sp_cate {
        display: none;
      }
    }
  }
  // アイテムリストエリア
  #category_item {
    margin-top: -10px;
        ul {
          list-style: none;
          margin-top: 20px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
         
        .item-box {
          background-color: #ffffff;
          padding: 10px 10px 0 10px;
          width: calc( ( 100% - 2px ) / 2 );
          margin-bottom: 2px;
          
          .item-name{
            
            margin-top: 0;
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
          }
          
          .item-price {
            
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
            letter-spacing: 1px;
          }
        }
      }
    
    @media (min-width: 551px) {
      .item-boxes {
        ul {
          .item-box {
            width: calc( ( 100% - 4px ) / 3 );
            padding-bottom: 5px;
            
            img {
              display: block;
              margin: 0 auto;
            }
            
            .item-name {
              margin-top: 5px;
            }
          }
        }
      }
    }
    .btn {
      display: flex;
      justify-content: space-between;
      height: 40px;
      
      .back {
        background-color: $brown1;
        width: calc((100% - 70px) / 2);
        
        @media (min-width: 551px) {
          width: 18%;
        }
        
        a {
          text-decoration: none;
          color: #f9f8f6;
          display: block;
          text-align: center;
          margin: 10px 0;
          @include fontsize(14);
          font-weight: bold;
        }
      }
      .next {
        background-color: $brown1;
        width: calc((100% - 70px) / 2);
        
        @media (min-width: 551px) {
         width: 18%;
        }
        a {
          text-decoration: none;
          color: #f9f8f6;
          display: block;
          text-align: center;
          margin: 10px 0;
          @include fontsize(14);
          font-weight: bold;
        }
      }
    }
  }
  
  //最近見た商品エリア
  #recently_item {
    
    .recent-title {
      margin: 25px;
      .sp_recent {
        margin: 0 auto;
        display: block;
      }
    }
    .recent-boxes {
      
      ul {
          list-style: none;
          margin-top: 20px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
         
        .recent-box {
          background-color: #ffffff;
          padding: 10px 10px 0 10px;
          width: calc( ( 100% - 2px ) / 2 );
          margin-bottom: 2px;
          
          .item-name{
            
            margin-top: 0;
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
          }
          
          .item-price {
            
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
            letter-spacing: 1px;
          }
        }
      }
    }
    
    @media (min-width: 551px) {
      .recent-title {
          margin: 30px auto;
            .pc_recent {
              width: 100%;
            }
            .sp_recent {
              display: none;
            }
        }
      
      .recent-boxes {
        ul {
          
          .recent-box {
            width: calc( (100% - 4px) / 3);
            padding-bottom: 5px;
            
            img {
              display: block;
              margin: 0 auto;
            }
            
            .item-name {
              margin-top: 5px;
            }
          }
        }
      }
    }
    
    @media (max-width: 550px) {
      .pc_recent {
        display: none;
      }
    }
  }
  
  // products.html
  #products {
    margin-top: 20px;
    
    .nine {
      background-color: #ffffff;
    }
  }
    
      .item-title {
      border-bottom: 1px solid $green;
      padding: 10px 0;
      margin-top: 10px;
      
      .name {
        font-weight: bold;
      }
      span {
        color: #a6a6a6;
        @include fontsize(10);
      }
    }
    .items {
      margin-top: 10px;
      margin-bottom: 10px;
      
      #main-image {
        flex: 5 5 40px;
        img {
          display:block;
          
        }
      }
      
      #sub-image {
       
        margin-top: 10px;
        display: flex;
       
        
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
        img {
          
          display: block;
          width: calc( (100% - 20px) / 5 );
          &:nth-child(n+6) {
            margin-top: 5px;
          }
        }
      }
    }
    @media (min-width: 551px) {
      .item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 30px 0;
        margin-left: 50px;
        margin-right: 50px;
        
        .name {
          
        }
        span {
          padding: 4px 0;
        }
      }
      .items {
        margin: 20px 50px 0 50px;
        display: flex;
        
        #main-image {
          flex: 5 5 40px;
          img {
            display: block;
            width: 100%;
          }
        }
        #sub-image {
          flex: 2 2 10px;
          margin-top: 0;
          margin-left: 10px;
          img {
            display: block;
            width: calc(50% - 5px );
            &:nth-child(n+3) {
              margin-top: 10px;
            }
          }
        }
      }
    }
    //  Color,Price,Quantityエリア
    #color {
      border-top: 1px solid $green;
      img {
        margin: 10px 0;
      }
      table {
        margin-bottom: 15px;
        
        .text {
          text-align: center;
          color: $brown1;
        }
        border: 1px solid $brown3;
        width: 100%;
        thead {
          background-color: $brown4;
          
          td {
            border: 1px solid $brown3;
            padding: 10px 0;
            &:first-child {
              width: 27%;
            }
          }
        }
        tbody {
          background-color: $brown4;
          
          .check {
            background-color: #ffffff;
          }
          th {
            
          }
          td {
            border: 1px solid $brown3;
           padding: 10px 0;
            
              input {
                margin: 0 auto;
                display: block;
                transform: scale(1.5);
                color: #ffffff;
              }
            }
          }
        }
        .price-boxes {
          
            .price-box {
              border-top: 1px solid $green;
              border-bottom: 1px solid $green;
             
              .price {
              display: flex;
              align-items: center;
              
              img {
                margin: 25px 0 15px 0;
              }
              
              .p-box {
                display: flex;
                margin: 10px auto;
                align-items: center;
                color: #e80f66;
                .text {
                  @include fontsize(24);
                }
                .en {
                  @include fontsize(14);
                  margin-top: 8px;
                }
                .tax {
                  @include fontsize(14);
                  margin-top: 8px;
                }
              }
            }
            .quantity {
              border-top: 1px solid $green;
              display: flex;
              align-items: center;
              img {
                
              }
              input {
                padding: 0;
                border-radius: 0;
                border: 1px solid $brown3;
                margin: 10px 0 10px 40px;
                
              }
            }
          }
          .image-box {
            img {
              display:block;
              margin: 10px auto;
            }
          }
        }
        
      @media (min-width: 551px) {
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        .price-boxes {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $green;
          
          .price-box {
            margin-right: 20px;
            flex: 1;
            border-bottom: 0;
          }
          .image-box {
            img {
              margin: 0;
            }
          }
        }
      }
    }
    
  // 商品説明エリア
  #product_description {
    margin-top: 20px;
    
    .title {
      color: $brown1;
      font-weight: bold;
      @include fontsize(14);
    }
    .main {
      border-top: 1px solid $brown1;
      margin-top: 10px;
      
      
      .head {
        color: $brown1;
        font-weight: bold;
        margin-bottom: 10px;
        @include fontsize(14);
        
        span {
          color: $brown1;
          @include fontsize(24);
        }
      }
    }
    table {
      border: 1px solid $brown3;
      width: 100%;
      margin-top: 15px;
      color: $brown1;
      
       th {
         padding: 12px 20px;
         background-color: $brown4;
         .head {
           width: 40px;
           margin: 0 auto;
           display: block;
           font-weight: normal;
         }
       }
       td {
         border: 1px solid $brown3;
         padding: 12px 10px;
       }
    }
    @media (min-width: 551px) {
        margin-left: 50px;
        margin-right: 50px;
      .main {
       .head {
         margin-top: 10px;
       }
      }
      table {
         margin-top: 20px;
         margin-bottom: 70px;
       }
    }
  }
  // 最近見た商品
  #p_recently_item {
    background-color: $beige;
    padding-top: 10px;
    .p-recent-title {
      margin: 10px;
      .sp_recent {
        margin: 0 auto;
        display: block;
      }
    }
    .p-recent-boxes {
      
      ul {
          list-style: none;
          margin-top: 20px;
          margin-bottom: 0;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
         
        .p-recent-box {
          background-color: #ffffff;
          padding: 10px 10px 0 10px;
          width: calc( ( 100% - 2px ) / 2 );
          margin-bottom: 2px;
          
          .item-name{
            
            margin-top: 0;
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
          }
          
          .item-price {
            
            margin-bottom: 10px;
            @include fontsize(13);
            margin-left: 5px;
            letter-spacing: 1px;
          }
        }
      }
    }
    
    @media (min-width: 551px) {
      .p-recent-title {
          margin: 20px 0 0 0;
  
            .pc_recent {
              width: 100%;
            }
            .sp_recent {
              display: none;
            }
        }
      
      .p-recent-boxes {
        ul {
          
          .p-recent-box {
            width: calc( (100% - 4px) / 3);
            padding-bottom: 5px;
            
            img {
              display: block;
              margin: 0 auto;
            }
            
            .item-name {
              margin-top: 5px;
            }
          }
        }
      }
    }
    
    @media (max-width: 550px) {
      .pc_recent {
        display: none;
      }
    }
  }
  
// Shopping Guideエリア
  #p_shopping {
    background-color: $beige;
    padding-top: 20px;
    
    .sp_guide {
      display: block;
      margin: 0 auto;
    }
    
    .p-guide-boxes {
      margin-top: 20px;
      ul {
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0;
        
        .p-guide-box {
          list-style: none;
          background-color: #ffffff;
          padding: 25px 25px 30px 25px;
          width: 100%;
          
          .title {
            color: $brown1;
            margin-bottom: 0px;
            @include fontsize(15);
            font-weight: bold;
            margin-bottom: 15px;
          }
          .otodoke {
            color: $brown1;
            margin-top: 7px;
            @include fontsize(13);
            margin-bottom: 5px;
          }
          .paket {
            color: $brown1;
            margin-top: 7px;
            margin-bottom: 5px;
            @include fontsize(13);
          }
          .card {
            color: $brown1;
            @include fontsize(13);
            margin-top: -10px;
            margin-bottom: 10px;
          }
          .daikin {
            color: $brown1;
            @include fontsize(13);
            margin-top: 5px;
            margin-bottom: 5px;
          }
          .ginkou {
            color: $brown1;
            @include fontsize(13);
            margin-top: 7px;
            margin-bottom: 5px;
          }
          .des {
            margin-left: 2px;
            @include fontsize(13);
          }
          .des1 {
            margin-left: 4px;
            @include fontsize(13);
            letter-spacing: -3px;
            .des2 {
              @include fontsize(13);
              margin-left: 5px;
            }
          }
          span {
            @include fontsize(21);
            margin-bottom: 5px;
          }
        }
      }
    }
    
    @media (max-width: 550px) {
      .pc_guide {
        display: none;
      }
    }
    
    @media (min-width: 551px) {
      padding: 30px 0;
      .sp_guide {
        display: none;
      }
      .p-guide-boxes {
        
        ul {
          .p-guide-box {
            width: calc( (100% - 6px) / 2);
            padding-bottom: 25px;
            
            img{
              margin-top: 5px;
            }
            .card {
              margin-top: -10px;
              margin-bottom: 5px;
            }
            .daikin {
              margin-top: -3px;
            }
            .ginkou {
             
            }
          }
        }
      }
    }
  }
 
    